@font-face {
  font-family: "Favorit Trial Std";
  src: url("/assets/fonts/FavoritTrialStd-Book.woff") format("woff2"),
  url("/assets/fonts/FavoritTrialStd-Book.woff") format("woff");
}

body {
  font-family: "Favorit Trial Std";
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

.nuxt-link-exact-active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: 1px;
  background: black;
}

.container {
  padding: 45px 45px 0 45px;
  display: flex;
  justify-content: space-between;
}

.nav {
  flex: 0 1 25%;

  &__arrow {
    margin-top: 121px;
    margin-bottom: 137px;
    animation: fadeIn;
    animation-duration: 1s;
    cursor: pointer;

    svg {
      fill: white;
      transition: .2s;

      path {
        fill: black;
        transition: .2s;
      }
    }

    svg:hover {
      fill: #CD1212;

      path {
        fill: white;
        transition: .5s;
      }
    }

    div + div {
      margin-top: 17px;
    }
  }

  &__lang {
    display: flex;
    margin-bottom: 135px;
    font-size: 16px;
    animation: fadeIn;
    animation-duration: 1s;
    cursor: pointer;

    &:hover {
      .list-item {
        opacity: 1;
      }
    }

    .list-item {
      opacity: 0;
      margin-right: 10px;
      transition: 1s;

      &:first-child {
        opacity: 1;
      }

      &:hover {
        color: red;
      }
    }
  }

  &__menu {

    &_item {
      margin-bottom: 16px;
      font-size: 18px;
      text-transform: uppercase;
      animation: fadeInUp;
      animation-duration: 1s;
      cursor: pointer;

      & a {
        position: relative;
      }

      & a:hover:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: black;
        transition: .5s;
      }

      & a:after {
        transition: .5s;
        width: 0;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background: black;
      }

      &:last-child {
        margin-bottom: 45px;
      }
    }
  }
}

.content {
  flex: 0 1 75%;

  &__contacts {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 55px;
    animation: fadeInUp;
    animation-duration: 1s;
    cursor: pointer;

    &_title {
      font-size: 15px;
      line-height: 37px;
      color: #CD1212;
      letter-spacing: 1px;
      text-transform: uppercase;
      flex-shrink: 0;
      transition: 1s;
      position: relative;

      &:hover:after {
        left: 100%;
        width: 0;
        transition: .5s;
      }

      &:after {
        transition: .5s;
        width: 100%;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background: #CD1212;
      }

      &:hover {
        border-bottom: none;
      }
    }

    &_menu {
      margin: 0 11px;
      background: rgba(196, 196, 196, 0.13);
      border-radius: 35px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 37px;
      height: 37px;
      overflow: hidden;
      cursor: pointer;


      &:hover {
        width: auto;
        overflow: unset;

      }

      .dropDawnContacts {
        width: 37px;
        display: flex;
        margin: 14px;
        align-items: center;
        transition: all 2s ease-out;

        &:hover {
          width: auto;

          .dropDawnContacts__item_x {
            transform: rotate(135deg);
            transition: .5s;
          }
        }

        &__item:hover {
          svg {
            transition: all 1s;

            path {
              fill: #CD1212;
            }
          }
        }

        * + div {
          margin-left: 14px;
        }
      }
    }

    .line {
      border-bottom: 1px solid rgba(200, 200, 200, 0.46);
      width: 100%;
      height: 37px;
    }
  }

  .slider {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 60px;
      animation: fadeInUp;
      animation-duration: 1s;

      .slider__nav {
        display: flex;

        &_item {
          margin-right: 86px;
          cursor: pointer;
          font-size: 14px;

          span {
            visibility: hidden;
            margin-left: -2px;
          }
        }

        & .active {
          color: #D82929;

          span {
            visibility: visible;
          }
        }
      }

      .slider__title {
        display: flex;
        align-items: flex-end;

        .project_name {
          font-size: 80px;
          line-height: 63px;
          letter-spacing: -4px;
          margin-right: 5px;
        }
      }
    }

    &__wrapper {
      max-width: 1063px;
      overflow: hidden;
      animation: fadeInLeft, slider;
      animation-delay: 0s;
      animation-duration: 2s;


      .slider__container {
        position: relative;
        display: flex;
        transition: all 1s;
        margin-bottom: -6px;

        .slider__item {
          width: 1063px;

          img {
            width: inherit;
          }
        }

        .openProject {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 45px 62px 45px 51px;
          background-color: #BE2222;
          cursor: pointer;

          div {
            color: white;
            text-transform: uppercase;
            position: relative;
            font-size: 15px;
            letter-spacing: 1px;

            &:hover {
              &:after {
                width: 100%;
                transition: .5s;
              }
            }
          }

          div:after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 36px;
            height: 1px;
            background: white;
            margin-top: 18px;
            transition: .5s;
          }
        }
      }
    }
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}
